<footer class="footer text-center text-lg-start bg-light text-muted">



    <div class="row" style="text-align: center; background-color: #a1aaa159;">

        <div class="col-lg-4 fut">

            <table>
                <th>Contact:</th>
                <tr>Lole Ribara, 11070, BG</tr>
                <tr>cm170333d@studen.etf.bg.ac.rs</tr>
                <tr> 011 234 567 88</tr>
                <tr>+386 234 567 89</tr>
            </table>

        </div>

        <div class="col-lg-4 fut">

            <table>
                <th>About</th>
                <tr>
                    Dropping the production database is the best coffee in the morning. Also, if you don't have a backup
                    it will work well. We don’t want a backup, it in no way is going down! We must start to do it in
                    this way.
                </tr>
            </table>
        </div>
        <div class="col-lg-4 fut">

            <table>
                <th>Products:</th>
                <tr><a href="https://www.typescriptlang.org/" class="text-reset">Typescript</a></tr>
                <tr><a href="https://expressdb.io/" class="text-reset">Express</a></tr>
                <tr><a href="https://angular.io/" class="text-reset">Angular</a></tr>
                <tr><a href="https://nodejs.org/en/" class="text-reset">Node</a></tr>
            </table>

        </div>
    </div>


    <div class="text-center p-4" style=" background-color: rgb(35 33 33 /93);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/Blodhead">cm170333d</a>
    </div>
</footer>