<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-section">
            <div class="footer-title">Contact</div>
            <div>Lole Ribara, 11070, BG</div>
            <div>cm170333d@studen.etf.bg.ac.rs</div>
            <div>011 234 567 88</div>
            <div>+386 234 567 89</div>
        </div>
        <div class="footer-section">
            <div class="footer-title">About</div>
            <div style="max-width: 250px;">Minimalist e-commerce project for perfume sales. Created for demo and learning purposes.</div>
        </div>
        <div class="footer-section">
            <div class="footer-title">Tech Stack</div>
            <div><a href="https://www.typescriptlang.org/" target="_blank">Typescript</a></div>
            <div><a href="https://expressjs.com/" target="_blank">Express</a></div>
            <div><a href="https://angular.io/" target="_blank">Angular</a></div>
            <div><a href="https://nodejs.org/en/" target="_blank">Node</a></div>
        </div>
    </div>
    <div class="footer-bottom">
        © 2025 Parfume | <a href="https://github.com/Blodhead" target="_blank">cm170333d</a>
    </div>
</footer>