<div class="container-fluid">
    <div class="row">
      <div class="col-4">&nbsp;</div>
      <div class="col-4">
  
        <ul class="nav nav-tabs" style="width: fit-content; padding-top: 40px; border-bottom: black;">
          <li class="nav-item tabs tabbs">
            <button class=" rounded-top" style="margin: 0px; background-color: rgb(19,98,7);" routerLink="../login">Login</button>
          </li> 
        </ul>
  
        <form class="page">
  
          <div class="container">
            <label for="mail"><b>Enter your mail:</b></label>
            <input type="text" placeholder="Enter Mail" name="mail" [(ngModel)]="mail" required>  
          </div>
  
        </form>
  
      </div>
      <div class="col-4">&nbsp;</div>
    </div>
  </div>