<div class="container-fluid">
  <div class="login-page">
    <div class="login-card">
      <div class="login-header">
        <h2>Promena šifre</h2>
      </div>

      <form class="login-form">

        <label for="old_password">Stara šifra</label>
        <input type="password" placeholder="Stara šifra" name="old_password" [(ngModel)]="old_password" required>

        <label for="new_password">Nova šifra</label>
        <input type="password" placeholder="Nova Šifra" name="new_password" (keyup)="unlock()"
          [(ngModel)]="new_password" required>
        <label for="new_password" *ngIf="!hasLength()" style="color: red;">•Šifa mora sadržati između 8 i 16 karaktera</label>
        <label for="confirm_password">Potvrdi novu šifru</label>
        <input type="password" placeholder="Potvrdi novu šifru" name="confirm_password" [(ngModel)]="confirm_password"
          required>

        <label for="confirm_password" *ngIf="!isSameAsPassword()" style="color: red;">•Šifre se moraju poklapati</label>

        <div class="form-actions row">
          <button class="primary div-4" (click)="save()" [disabled]="isLoading">
            <span>Promena šifre</span>
          </button>
          <button class="primary div-4" (click)="cancel()">
            <span>Odustani</span>
          </button>
        </div>
        <div *ngIf="errorMessage" style="color: #b00020; margin-top:8px">{{ errorMessage }}</div>
      </form>
    </div>
  </div>
</div>