<div class="container-fluid body">

  <div class="row">
    <div class="col-4">&nbsp;</div>
    <div class="col-4" style="margin-top: 8%">

      <form class="page">

        <div class="container">
          <label for="old_pass"><b>Enter your old password:</b></label>
          <input type="text" placeholder="Enter old password" name="old_pass" [(ngModel)]="old_pass" required>
        </div>
        <div class="container">
          <label for="new_pass"><b>Enter new password:</b></label>
          <input type="password" placeholder="Enter new password" name="new_pass" [(ngModel)]="new_pass"
            (keyup)="unlock()" required>
        </div>
        <div class="container">
          <label for="confirm_pass"><b>Confirm new password:</b></label>
          <input type="password" placeholder="Confirm new password" name="confirm_pass" [(ngModel)]="confirm_pass"
            required>
        </div>

        <label for="password" *ngIf="!isLetter()" style="color: red;">•Password must start with a letter</label>
        <label for="password" *ngIf="!hasLength()" style="color: red;">•Password must contain between 8 and 16
          letters</label>
        <label for="password" *ngIf="!containsSpecialChars(new_pass)" style="color: red;">•Password must contain special
          characters</label><br />
        <label for="password" *ngIf="!hasANumber()" style="color: red;">•Password must contain a number</label>
        <label for="password" *ngIf="!hasACapital()" style="color: red;">•Password must contain at least one capital
          letter</label>

      </form>

    </div>
    <div class="col-4">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-4">&nbsp;</div>
    <div class="col-2">
      <button style="background-color: rgb(19,98,7);" (click)="save()">Save</button>
    </div>
    <div class="col-2">
      <button style="background-color: rgb(201, 13, 13);" (click)="cancel()">Cancel</button>
    </div>
    <div class="col-4">&nbsp;</div>
  </div>
  
</div>