<div class="row flexbox" style="display: flex; justify-content: center;" >

    <div class="col-sm-2 col-md-3 col-lg-3" style="text-align: center;">

      <div class="imgcontainer">
        <img src="{{myUser.profile_photo_name}}" style="width: 100px; height: 100px;" alt="Avatar" class="avatar shadow">
      </div>
      <h6>{{myUser.username}}</h6>


    </div>

    <div class="col-md-4 flexcol-editor" style="display: flex; justify-content: center;">
      <table>
        <tr>
          <th>Firstname:</th>
          <td>{{myUser.firstname}}</td>
        </tr>

        <tr>
          <th>Lastname:</th>
          <td>{{myUser.lastname}}</td>
        </tr>

        <tr>
          <th>Phone:</th>
          <td>{{myUser.phone}}</td>
        </tr>
        <tr>
          <th>Mail:</th>
          <td>{{myUser.mail}}</td>
        </tr>
        <tr>
          <th>Password:</th>
          <td>{{myUser.password}}</td>
        </tr>
        <tr>
          <th>Status:</th>
          <td>{{myUser.status}}</td>
        </tr>
      </table>

    </div>

    <div class="col-md-3 flexcol-errors" style="text-align: center;">
      <br />
      <button type="button" class="btn btn-warning" (click)="edit(myUser)">Edit User</button>
      <br />
      <br />
      <button type="button" class="btn btn-danger" (click)="delete(myUser.username,myUser.type)">Delete User</button>
    </div>

    <div class="col-md-3"></div>

  </div>
