<div class="wrapper body">
    <div class="container">

        <div class="row">

            <div class="col-12" style="display: flex; justify-content: end; padding-top: 20px;">
                <button type="button" class="btn btn-primary" (click)="add_new()">Add parfume</button>
            </div>

            <div class="col-12">
                <div *ngFor="let parfume of allParfumes; let i = index;">
                    <app-parfume-details [myParfumeDetail]="parfume" [myIndex]="i"></app-parfume-details>
                </div>
            </div>

        </div>

    </div>
</div>