<div class="login-page">
  <div class="login-card">
    <div class="login-header">
      <h2>Login</h2>
      <a class="small-link" routerLink="../register">Kreirajte nalog</a>
    </div>

    <form class="login-form">
      <label for="username">Korisničko ime</label>
      <input type="text" id="username" placeholder="Unesite korisničko ime" name="username" [(ngModel)]="username" required>

      <label for="password">Šifra</label>
      <input type="password" id="password" placeholder="Unesite šifru" name="password" [(ngModel)]="password" required>

      <div class="form-actions">
        <button class="primary" (click)="login()">Log in</button>
        <a class="link" (click)="forgotPassword()">Zaboravili šifru?</a>
      </div>
    </form>
  </div>
</div>