<div class="container-fluid">

    <div class="row bg" style="border-bottom: 3px solid black;">
        <div class="col-2">&nbsp;</div>
        <div class="col-8 intro middle">

            <div class="row">
                <div class="col-12 middle" style="height: 100px;">

                </div>


            </div>
        </div>
        <div class="col-2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-3 intro">
            &nbsp;
        </div>
        <div class="col-6 intro middle" style="justify-content: center !important;">
            <div style="display: flex; flex-direction: column; gap: 1.2rem; align-items: center; width: 100%;">
                <div style="display: flex; gap: 1.2rem; align-items: center; width: 100%; justify-content: center;">
                    <label for="nameFilter"><b>Search by name:</b></label>
                    <input id="nameFilter" type="text" placeholder="name..." style="min-width: 180px;" [(ngModel)]="nameFilter" (keyup)="onNameFilterChange(nameFilter)">
                </div>
                <div style="display: flex; gap: 1.2rem; align-items: center; width: 100%; justify-content: center;">
                    <label for="priceSlider"><b>Price range:</b></label>
                    <div style="width: 220px;">
                        <div #priceSlider></div>
                    </div>
                    <span style="margin-left: 1rem;">{{priceFilterMin}} - {{priceFilterMax}}</span>
                </div>
                <div style="display: flex; gap: 1.2rem; align-items: center; width: 100%; justify-content: center;">
                    <button *ngIf="toggle1 == true" class="btn btn-success btn-xs"
                        style="margin: 0px; background-color: rgb(19,98,7);" (click)="sortName()">Name ↑</button>
                    <button *ngIf="toggle1 == false" class="btn btn-success btn-xs"
                        style="margin: 0px; background-color: rgb(19,98,7);" (click)="sortName()">Name ↓</button>
                </div>
            </div>
        </div>
                <div class="col-3 intro">
            &nbsp;
        </div>
    </div>


    <div class="row">
        <div class="col-1">&nbsp;</div>

        <div class="col-9">
            <div class="parfume-grid">
                <app-parfume-details *ngFor="let parfume of displayed_parfumes; let i = index;" [myParfumeDetail]="parfume"></app-parfume-details>
            </div>
            <div class="pagination-controls" style="margin: 2rem 0; display: flex; justify-content: center; align-items: center; gap: 1rem;">
                <button class="btn btn-outline-secondary" (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
                <span>Page {{currentPage}} of {{totalPages}}</span>
                <button class="btn btn-outline-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
            </div>
        </div>

        <div class="col-1 ">
            &nbsp;
            <!--
            <table>
                <th> <h4>Top 5:</h4> <hr/></th>
                <tr>
                    <ol type="1">
                        <h6><li *ngFor="let i of top5;">{{i}}</li></h6>
                    </ol>
                </tr>
            </table>
            -->
        </div>
    </div>

</div>