<div class="wrapper">

    <div class="container">
        <div class="row ">
            <app-workshop-details [myWorkshopDetail]="myWorkshop"></app-workshop-details>
            <h3 style="color: white;">Chats:</h3>
            <div class="col-12 container-fluid" *ngFor="let message of messages, let i = index;">
                <div class="row">
                    <button type="button" class="btn btn-secondary border border-light" style="width: -webkit-fill-available; color: white;"
                        (click)="open(i)"><b>{{name_index[i]}}</b></button>
                </div>
                <div class="row">
                    <div class="div-12" id={{i}} style="display: none;">

                        <div class="container page" style="padding: 0px;">

                            <div class="chat"
                                style="padding-top: 5px; padding-bottom: 5px; height: 300px; overflow-y: scroll;">

                                <div *ngFor="let message of comments[i];">
                                    <app-message [myMessage]="message"></app-message>
                                </div>

                            </div>
                            <hr style="margin: 0px; color: rgb(19,98,7);">
                            <div class="container-fluid comm" style="width: 100%;padding: 0px;">
                                <div class="row" style="margin: 0px !important;">
                                    <div class="col-lg-10 col-md-8" style="padding: 0px;">
                                        <input class="rounded" type="text"
                                            style="width: -webkit-fill-available; height: -webkit-fill-available;"
                                            name="message" id="" [(ngModel)]="msg[i]">
                                    </div>
                                    <div class="col-lg-1 col-md-2" style="padding: 0px;"><button type="button"
                                            class="btn btn-success"
                                            style="background-color: rgb(19,98,7); width: -webkit-fill-available;"
                                            (click)="comment(i)">Post</button></div>
                                    <div class="col-lg-1 col-md-2" style="padding: 0px;"><button type="button"
                                            class="btn btn-danger" style="width: -webkit-fill-available;"
                                            (click)="cancel(i)">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>