
.bg{
    padding-top: 50px; 
    background-image: url('../../assets/images/t2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro{
    color: #136207;
    height: 350px;
    
}

.middle{
    display: flex !important; 
    justify-content: start !important; 
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 25px;
}