<table>

  <tr>

    <th>Id</th>
    <th>Caption</th>
    <th>Comments</th>

  </tr>

  <tr *ngFor="let n of news">
    <td>{{n.Myid}}</td>
    <td>{{n.caption}}</td>
    <td>
      <ul>
        <li *ngFor="let comm of n.comments">
          {{comm.text}}
        </li>
      </ul>
    </td>
  </tr>

</table>

<div class="container">

  <div class="row">

    <div class="col-12">
      <div class="admin_tabs" *ngIf="!getTab()">
        <ul class="nav nav-tabs mb-3 uls" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" (click)="setTab(false)">Users</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" (click)="setTab(true)">Workshops</a>
          </li>
        </ul>
      </div>
      
      <div class="admin_tabs" *ngIf="getTab()">
        <ul class="nav nav-tabs mb-3 uls" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link" (click)="setTab(false)">Users</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link active" (click)="setTab(true)">Workshops</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-12 shadow context" *ngIf="!getTab()">

      What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </div>

    <div class="col-12 shadow context" *ngIf="getTab()">

      Whasdasffqwfqwfw?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </div>

  </div>

</div>

