<div class="bg">

  <div class="container" style="padding-top: 30px;">

    <div class="row">

      <div class="col-12">
        <div class="" *ngIf="getTab()">
          <ul class="nav nav-tabs mb-3 uls" role="tablist">
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link active" (click)="setTab(true)">Users</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab(false)">Workshops</a>
            </li>
          </ul>
        </div>

        <div class="" *ngIf="!getTab()">
          <ul class="nav nav-tabs mb-3 uls" role="tablist">
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab(true)">Users</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link active" (click)="setTab(false)">Workshops</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 shadow context" style="background-color: white;" *ngIf="getTab()">

        <div class="card container-fluid" *ngFor="let user of allUsers">

          <div class="row">

            <div class="col-2" style="text-align: center;">

              <div class="imgcontainer">
                <img src="{{user.profile_photo_name}}" style="width: 100px; height: 100px;" alt="Avatar" class="avatar">
              </div>
              <h6>{{user.username}}</h6>


            </div>

            <div class="col-6 ">
              <table>
                <tr>
                  <th>Firstname:</th>
                  <td>{{user.firstname}}</td>
                </tr>

                <tr>
                  <th>Lastname:</th>
                  <td>{{user.lastname}}</td>
                </tr>

                <tr>
                  <th>Phone:</th>
                  <td>{{user.phone}}</td>
                </tr>
                <tr>
                  <th>Mail:</th>
                  <td>{{user.mail}}</td>

                </tr>

                <tr>
                  <th>Type:</th>
                  <td>{{user.type}}</td>
                </tr>
              </table>

            </div>

          </div>

        </div>

      </div>

      <div class="col-12 shadow context" *ngIf="!getTab()" style="background-color: white;">

        Whasdasffqwfqwfw?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum
      </div>

    </div>

  </div>
</div>