<div class="bg">

  <div class="container" style="padding-top: 30px; padding-bottom: 30px;">

    <div class="row" >

      <div class="col-12" style="display: flex;
      justify-content: flex-end;">
        <div>
          <button type="button" class="btn btn-primary" (click)="add_User()">Add User</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="add_Workshop()">Add Workshop</button>
        </div>
      </div>

    </div>

    <div class="row" style="text-align: end;">
      <div class="col-12">

        <div class="" *ngIf="getTab() == 'Organizers'" style="width: fit-content;">
          <ul class="nav nav-tabs mb-3 uls" role="tablist">
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link active" (click)="setTab('Organizers')" routerLink="organizers">Organizers</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Participants')">Participants</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Workshops')">Workshops</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Requests')">Requests</a>
            </li>
          </ul>
        </div>

        <div class="" *ngIf="getTab() == 'Participants'" style="width: fit-content;">
          <ul class="nav nav-tabs mb-3 uls" role="tablist">
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Organizers')">Organizers</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link active" (click)="setTab('Participants')">Participants</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Workshops')">Workshops</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Requests')">Requests</a>
            </li>
          </ul>
        </div>

        <div class="" *ngIf="getTab() == 'Workshops'" style="width: fit-content;">
          <ul class="nav nav-tabs mb-3 uls" role="tablist">
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Organizers')">Organizers</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Participants')">Participants</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link active" (click)="setTab('Workshops')">Workshops</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Requests')">Requests</a>
            </li>
          </ul>
        </div>

        <div class="" *ngIf="getTab() == 'Requests'" style="width: fit-content;">
          <ul class="nav nav-tabs mb-3 uls" role="tablist">
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Organizers')">Organizers</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Participants')">Participants</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link" (click)="setTab('Workshops')">Workshops</a>
            </li>
            <li class="nav-item admin_tabs" role="presentation">
              <a class="nav-link active" (click)="setTab('Requests')">Requests</a>
            </li>
          </ul>
        </div>

      </div>

      

      <div class="col-12 shadow context" style="background-color: #136207;" *ngIf="getTab()=='Organizers'">

        <div class="card container-fluid shadow" *ngFor="let user of organisers">

          <app-organizer [myUser]="user"></app-organizer>

        </div>

      </div>

      <div class="col-12 shadow context" style="background-color: #136207; max-width: 900px;" *ngIf="getTab()=='Participants'">

        <div class="card container-fluid shadow" *ngFor="let user of participants">

          <app-participant [myUser]="user"></app-participant>

        </div>

      </div>

      <div class="col-12 shadow context" style="background-color: #136207;" *ngIf="getTab()=='Workshops'">

        <div class="card container-fluid shadow" *ngFor="let workshop of workshops; let i = index">

          <app-workshop-details [myWorkshopDetail]="workshop" [myIndex]="i"></app-workshop-details>

        </div>

      </div>

      <div class="col-12 shadow context" style="background-color: #136207;" *ngIf="getTab()=='Requests'">

        <div class="card container-fluid shadow" *ngFor="let user of requests">

          <app-request [myUser]="user" [myallUsers]="allUsers"></app-request>

        </div>

      </div>


    </div>

  </div>
</div>