<div class="container message">

    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12" style="flex: 0 0 auto; width: -webkit-fill-available; padding-left: 400px;">

            <div class="row">

                <div class="col-xl-10 col-md-8 col-sm-6">

                    <div class="d-flex flex-row-reverse">

                        <div class="d-flex flex-column">
                            <div class="row">
                                <div class="col-xl-12" style="margin-left: 20px;">
                                    <b>{{username}}</b>, {{date | date:'d. MMMM y. HH:mm'}}
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-xl-12 team message__text last" style="min-width: 200px !important;" >
                                    {{message}}
                                </div>
                            </div>
                        </div>
                        

                    </div>

                </div>

                <div class="col-xl-2 col-md-4 col-sm-8" style="width: fit-content;">
                    <div class="imgcontainer">
                        <img src={{image}} alt="" class="avatar">
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>