<div class="container message">

    <div class="row">
        <div class="col-lg-4 col-md-1">&nbsp;</div>
        <div class="col-lg-8 col-md-11" style="display: flex; justify-content: flex-end;align-items: center;">

            <div class="row" style="width: inherit;">

                <div class="col-lg-10 col-md-8">

                    <div class="row">
                        <div class="col-lg-12" style="display: flex; margin-left: 20px;">
                            <h6>{{username}}</h6>, {{date | date:'d. MMMM y. HH:mm'}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 team message__text last" style="min-width: 420px;">
                            {{message}}
                        </div>
                    </div>

                </div>

                <div class="col-lg-2 col-md-4" style="display: flex; align-items: flex-end;">
                    <div class="imgcontainer">
                        <img src={{image}} alt="" class="avatar">
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>