<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card text-center" style="margin-top: 10%;">
                <div class="card-header">
                    <input type="text" class="name" placeholder="Enter Name of the Workshop" name="name">
                    <br/>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                <br/>
                    
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    <input type="text" class="name" placeholder="Enter location of the Workshop" name="name">
                </div>
              </div>
        </div>
    </div>
</div>
