<div class="topnav">
  <a class="active" routerLink="">Home</a>
  <a *ngIf="type=='admin'" class="" routerLink="admin">Admin</a>
  <a *ngIf="type=='organizer'" class="" routerLink="user_organizer">Profile</a>
  <a *ngIf="type=='participant'" class="" routerLink="user">Profile</a>
  <a *ngIf="type=='participant'" class="" routerLink="">Workshops</a>
  <a *ngIf="type=='participant'" class="" routerLink="/admin/edit_workshop">Become Organizer</a>
  <!--    <a href="#news" routerLink="">News</a>
    <a href="#contact">Contact</a>-->
  <div class="topnav-right">
    <a *ngIf="current_user==null" routerLink="login">Login</a>
    <a  style="padding: 0; margin: 5px;"><button class="btn btn-light" *ngIf="current_user!=null" (click)="logout()">Logout</button></a>
    <a *ngIf="current_user==null" routerLink="register">Register</a>
  </div>
</div>