<div class="container">

    <div class="row border border-success rounded" *ngIf="Toggle()">
        <div class="col-4" style="padding: 0px !important;">
            <img class="rounded" src="{{myWorkshopDetail.image}}" style=" object-fit: cover; border-right: solid !important; border-color:rgb(19,98,7) !important;" width="100%" height="100%">
        </div>

        <div class="col-8">
            <table>

                <tr>
                    <h2><td>{{myWorkshopDetail.name}}</td></h2>
                </tr>
                <tr>
                    <blockquote class="blockquote">
                        <h5><td class="mb-0">{{myWorkshopDetail.date.getDate()}}. {{toMonthName(myWorkshopDetail.date.getMonth()+1)}} {{myWorkshopDetail.date.getFullYear()}}</td></h5>
                        <footer class="blockquote-footer">{{myWorkshopDetail.location}}</footer>
                    </blockquote>
                </tr>

                <tr>
                    <td style="padding-bottom: 10px;">
                        {{myWorkshopDetail.description}}
                    </td>
                </tr>
            </table>
        </div>

    </div>



    <div class="row border border-success rounded" *ngIf="!Toggle()">
        <div class="col-8">
            <table>

                <tr>
                    <h2><td>{{myWorkshopDetail.name}}</td></h2>
                </tr>
                <tr>
                    <blockquote class="blockquote">
                        <h5><td class="mb-0">{{myWorkshopDetail.date.getDate()}}. {{toMonthName(myWorkshopDetail.date.getMonth()+1)}} {{myWorkshopDetail.date.getFullYear()}}</td></h5>
                        <footer class="blockquote-footer">{{myWorkshopDetail.location}}</footer>
                    </blockquote>
                </tr>

                <tr>
                    <td style="padding-bottom: 10px;">
                        {{myWorkshopDetail.description}}
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-4" style="padding: 0px !important;">
            <img class="rounded" src="{{myWorkshopDetail.image}}" style="object-fit: cover; border-left: solid !important; border-color:rgb(19,98,7) !important;" width="100%" height="100%">
        </div>

    </div>

</div>