<ngx-flip [flip]="flipDiv">

    <div front class="container" *ngIf="flipDiv==false">

        <div class="row border border-success rounded" *ngIf="Toggle()">
            <div class="col-4" style="padding: 0px !important;">
                <img class="rounded" src="{{myWorkshopDetail.image}}"
                    style=" object-fit: cover; border-right: solid !important; border-color:rgb(19,98,7) !important;"
                    width="100%" height="100%">
            </div>

            <div class="col-8">
                <table>

                    <tr>
                        <h2>
                            <td>{{myWorkshopDetail.name}}</td>
                        </h2>
                        <td *ngIf="type=='admin'|| current_user!=null">
                            <button *ngIf="myWorkshopDetail.owner==current_user.username || type=='admin'"
                                class="btn btn-success btn-sm" (click)="add_Workshop()">Edit</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && getPath()==''" style="width: max-content;"
                                class="btn btn-danger btn-sm" disabled>{{likes}} ❤</button>
                        </td>
                        <td *ngIf="type=='organizer'|| current_user!=null">
                            <button *ngIf="type=='organizer' && getPath()==''" style="width: max-content;"
                                class="btn btn-danger btn-sm" disabled>{{likes}} ❤</button>
                        </td>
                        <td *ngIf="isOrganizer_page() == true">
                            <button style="width: max-content;" class="btn btn-primary btn-sm" (click)="open_chat()">Chat 💬</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && isSubscribed()==false && hasFree()==true"
                                class="btn btn-success btn-sm" (click)="sub()">Subscribe</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && isSubscribed()==false && hasFree()==false"
                                class="btn btn-warning btn-sm" (click)="notify()">Notify&nbsp;me</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && isTime()==true && current_path!=''"
                                class="btn btn-success btn-sm" (click)="unsub()">Unscubscribe</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && getPath()=='user'" style="width: max-content;"
                                class="btn btn-primary btn-sm" (click)="cancel()">Comment 💬</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && getPath()=='user' && like_toggle==false"
                                style="width: 100px;" class="btn btn-success btn-sm" (click)="like()">{{likes}}
                                ♡</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && getPath()=='user' && like_toggle==true"
                                style="width: 100px;" class="btn btn-danger btn-sm" (click)="unlike()">{{likes}}
                                ❤</button>
                        </td>
                    </tr>
                    <tr>
                        <blockquote class="blockquote">
                            <h5>
                                <td class="mb-0">{{myWorkshopDetail.date | date:'HH:mm - EEEE d. MMMM y.'}}</td>
                            </h5>
                            <footer class="blockquote-footer">{{myWorkshopDetail.location}}</footer>
                        </blockquote>
                    </tr>

                    <tr>
                        <td style="padding-bottom: 10px;">
                            {{myWorkshopDetail.description}}
                        </td>
                        <td>
                    </tr>
                    <tr *ngIf="type=='participant'|| current_user!=null">
                        <td *ngIf="current_path==''" style="display: flex; justify-content: center;">
                            <button type="button" class="btn btn-success" style="background-color: rgb(19,98,7);"
                                (click)="more(myWorkshopDetail)">More</button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>


        <div class="row border border-success rounded" *ngIf="!Toggle()">
            <div class="col-8">
                <table>

                    <tr>
                        <h2>
                            <td>{{myWorkshopDetail.name}}</td>
                        </h2>
                        <td *ngIf="type=='admin'|| current_user!=null">
                            <button *ngIf="myWorkshopDetail.owner==current_user.username || type=='admin'"
                                class="btn btn-success btn-sm" (click)="add_Workshop()">Edit</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && getPath()==''" style="width: max-content;"
                                class="btn btn-danger btn-sm" disabled>{{likes}} ❤</button>
                        </td>
                        <td *ngIf="type=='organizer'|| current_user!=null">
                            <button *ngIf="type=='organizer' && getPath()==''" style="width: max-content;"
                                class="btn btn-danger btn-sm" disabled>{{likes}} ❤</button>
                        </td>
                        <td *ngIf="isOrganizer_page() == true">
                            <button style="width: max-content;" class="btn btn-primary btn-sm" (click)="open_chat()">Chat 💬</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && isSubscribed()==false && hasFree()==true"
                                class="btn btn-success btn-sm" (click)="sub()">Subscribe</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && isSubscribed()==false && hasFree()==false"
                                class="btn btn-warning btn-sm" (click)="notify()">Notify&nbsp;me</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && isTime()==true" class="btn btn-success btn-sm"
                                (click)="unsub()">Unscubscribe</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && getPath()=='user'" style="width: max-content;"
                                class="btn btn-primary btn-sm" (click)="cancel()">Comment 💬</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && getPath()=='user' && like_toggle==false"
                                style="width: 100px;" class="btn btn-success btn-sm" (click)="like()">{{likes}}
                                ♡</button>
                        </td>
                        <td *ngIf="type=='participant'|| current_user!=null">
                            <button *ngIf="type=='participant' && getPath()=='user' && like_toggle==true"
                                style="width: 100px;" class="btn btn-danger btn-sm" (click)="unlike()">{{likes}}
                                ❤</button>
                        </td>
                    </tr>
                    <tr>
                        <blockquote class="blockquote">
                            <h5>
                                <td class="mb-0">{{myWorkshopDetail.date | date:'HH:mm - EEEE d. MMMM y.'}}</td>
                            </h5>
                            <footer class="blockquote-footer">{{myWorkshopDetail.location}}</footer>
                        </blockquote>
                    </tr>

                    <tr>
                        <td style="padding-bottom: 10px;">
                            {{myWorkshopDetail.description}}
                        </td>
                    </tr>
                    <tr *ngIf="type=='participant'|| current_user!=null">
                        <td *ngIf="current_path==''" style="display: flex; justify-content: center;">
                            <button type="button" class="btn btn-success" style="background-color: rgb(19,98,7);"
                                (click)="more(myWorkshopDetail)">More</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-4" style="padding: 0px !important;">
                <img class="rounded" src="{{myWorkshopDetail.image}}"
                    style="object-fit: cover; border-left: solid !important; border-color:rgb(19,98,7) !important;"
                    width="100%" height="100%">
            </div>

        </div>

    </div>

    <div back class="container page" style="transform: rotateY(180deg)!important; padding: 0px;" *ngIf="flipDiv==true">

        <div class="chat" style="padding-top: 5px; padding-bottom: 5px; height: 300px; overflow-y: scroll;">

            <div *ngFor="let message of comments;">
                <app-message [myMessage]="message"></app-message>
            </div>

        </div>
        <hr style="margin: 0px; color: rgb(19,98,7);">
        <div class="container-fluid comm" style="width: 100%;padding: 0px;">
            <div class="row" style="margin: 0px !important;">
                <div class="col-lg-10 col-md-8" style="padding: 0px;">
                    <input class="rounded" type="text"
                        style="width: -webkit-fill-available; height: -webkit-fill-available;" name="message" id=""
                        [(ngModel)]="message">
                </div>
                <div class="col-lg-1 col-md-2" style="padding: 0px;"><button type="button" class="btn btn-success"
                        style="background-color: rgb(19,98,7); width: -webkit-fill-available;"
                        (click)="comment()">Post</button></div>
                <div class="col-lg-1 col-md-2" style="padding: 0px;"><button type="button" class="btn btn-danger"
                        style="width: -webkit-fill-available;" (click)="cancel()">Cancel</button></div>
            </div>
        </div>
    </div>

</ngx-flip>