<div class="container-fluid">
    <div class="row">
        <div class="col-4">&nbsp;</div>
        <div class="col-4">

            <ul class="nav nav-tabs" style="width: fit-content; padding-top: 40px; border-bottom: black;">
                <li class="nav-item tabs" style="background-color: transparent;">
                  <button class=" rounded-top" style="padding: 9px; top: 13px; position: relative; margin: 0px; background-color: rgb(28, 108, 16);"  routerLink="../login">Login</button>
                </li> 
                <li class="nav-item tabs tabbs">
        
                  <button class=" rounded-top btn-xs" style="margin: 0px; background-color: rgb(19,98,7);" routerLink="../register">Register</button>
                </li>
              </ul>

            <form class="page scrollbar scrollbar-default" style="width: 100%; height: 600px;">
                <div class="picture-container">
                    <div class="picture">
                        <img src={{profile_photo_name}}  style="width: 100px; height: 100px;" alt="Avatar"
                            class="avatar">
                        <input type="file" id="wizard-picture"  class="" name="profile_photo_name" (change)="onFileSelected($event)">
                    </div>
                    <h6 class="">Choose Picture</h6>
                </div>

                <div class="container">

                    <label for="firstname"><b>*Firstname:</b></label>
                    <input type="text" placeholder="Enter Firstname" name="firstname" [(ngModel)]="firstname">
                    <br />

                    <label for="lastname"><b>*Lastname:</b></label>
                    <input type="text" placeholder="Enter Lastname" name="lastname" [(ngModel)]="lastname">
                    <br />

                    <label for="username"><b>*Username:</b></label>
                    <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username">
                    <br />

                    <label for="password"><b>*Password:</b></label>
                    <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password">
                    <br />

                    <label for="password"><b>*Confirm Password:</b></label>
                    <input type="password" placeholder="Confirm Password" name="confirm_password" [(ngModel)]="confirm_password">
                    <br />

                    <label for="phone"><b>*Phone number:</b></label>
                    <input type="text" placeholder="Enter Phone Number" name="phone" [(ngModel)]="phone">
                    <br />

                    <label for="mail"><b>*Mail:</b></label>
                    <input type="text" placeholder="Enter Mail" name="mail" [(ngModel)]="mail">
                    <br />

                    <label for="type"><b>*Type:</b></label>

                    <select class="form-select" [(ngModel)]="type" name="type">
                        <option value="participant">Participant</option>
                        <option value="organizer">Organizer</option>
                    </select>

                    <button style="background-color: rgb(19,98,7);" (click)="register()">Register</button>
                </div>

            </form>

        </div>
        <div class="col-4">
            
            <form class="page scrollbar scrollbar-default" style="width: 100%; height: 600px; margin-top: 20%; border-top-left-radius: 5%;" *ngIf="getType()">

                    <h4>-Organisation optional information-</h4>

                <div class="container">

                    <label for="org_name"><b>Organisation name:</b></label>
                    <input type="text" placeholder="Enter Organisation name" name="org_name" [(ngModel)]="org_name">
                    <br />

                    <label for="state"><b>State:</b></label>
                    <input type="text" placeholder="Enter Organisation State" name="state" [(ngModel)]="state">
                    <br />

                    <label for="city"><b>City:</b></label>
                    <input type="text" placeholder="Enter Organisation City"  name="city" [(ngModel)]="city">
                    <br />

                    <label for="postal_code"><b>Enter Postal Code:</b></label>
                    <input type="text" placeholder="Enter Organisation Postal Code" name="postal_code" [(ngModel)]="postal_code">
                    <br />

                    <label for="street"><b>Street:</b></label>
                    <input type="text" placeholder="Enter Organisation Street" name="street" [(ngModel)]="street">
                    <br />

                    <label for="number"><b>Number:</b></label>
                    <input type="text" placeholder="Enter Organisation Number" name="number" [(ngModel)]="number">
                    <br />

                    <label for="pib"><b>PIB:</b></label>
                    <input type="text" placeholder="Enter Organisation PIB" name="pib" [(ngModel)]="pib">
                    <br />

                </div>

            </form>


        </div>
    </div>
</div>
