<div class="wrapper">
    <gallery [items]="images" thumbPosition="left"></gallery>
    <div style="display: flex; justify-content: center;">
        <h2>{{myWorkshop.name}}</h2>
    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-3">&nbsp;</div>
            <div class="col-6 border border-success rounded">

                <div class="row">
                    <input type="text" [(ngModel)]="address">
                    <button (click)="search()">Search!</button>
                </div>


            </div>
            <div class="col-3 border border-success rounded" style="width: fit-content; padding: 0px; margin: 0px;">

                <div id="map" class="map"></div>

            </div>

        </div>
    </div>

</div>