<div class="parfume-card">
  <div class="parfume-image-wrap">
    <img class="parfume-card-image" [src]="myParfumeDetail.img_location" alt="{{myParfumeDetail.name}}" loading="lazy" />
  </div>
  <div class="parfume-card-info">
    <h2 class="parfume-card-title">{{myParfumeDetail.name}}</h2>
    <div class="parfume-card-price">{{myParfumeDetail.price | currency:'EUR':'symbol':'1.0-0'}} <span
        class="parfume-card-amount">{{myParfumeDetail.amount}}ml</span></div>
  </div>
</div>

<!--<div back class="container page" style="transform: rotateY(180deg)!important; padding: 0px;" *ngIf="flipDiv==true">

  <div class="chat" style="padding-top: 5px; padding-bottom: 5px; height: 300px; overflow-y: scroll;">

  </div>
  <hr style="margin: 0px; color: rgb(19,98,7);">
  <div class="container-fluid comm" style="width: 100%;padding: 0px;">
    <div class="row" style="margin: 0px !important;">
      <div class="col-lg-10 col-md-8" style="padding: 0px;">

      </div>
      <div class="col-lg-1 col-md-2" style="padding: 0px;"><button type="button" class="btn btn-success"
          style="background-color: rgb(19,98,7); width: -webkit-fill-available;width: -moz-available;"
          (click)="comment()">Post</button></div>
      <div class="col-lg-1 col-md-2" style="padding: 0px;"><button type="button" class="btn btn-danger"
          style="width: -webkit-fill-available; width: -moz-available;" (click)="cancel()">Cancel</button></div>
    </div>
  </div>
</div>-->