<div class="wrapper body">
    <div class="container" style="margin-top: 40px;">

        <div class="row" style="text-align: end;">
            <div class="col-12">

                <div class="" *ngIf="getTab() == 'User'" style="width: fit-content;">
                    <ul class="nav nav-tabs mb-3 uls" role="tablist">
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link active" (click)="setTab('User')" routerLink="User">User</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('WorkshopHistory')">WorkshopHistory</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('Actions')">Actions</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('Chats')">Chats</a>
                        </li>
                    </ul>
                </div>

                <div class="" *ngIf="getTab() == 'WorkshopHistory'" style="width: fit-content;">
                    <ul class="nav nav-tabs mb-3 uls" role="tablist">
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('User')">User</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link active" (click)="setTab('WorkshopHistory')">WorkshopHistory</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('Actions')">Actions</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('Chats')">Chats</a>
                        </li>
                    </ul>
                </div>

                <div class="" *ngIf="getTab() == 'Actions'" style="width: fit-content;">
                    <ul class="nav nav-tabs mb-3 uls" role="tablist">
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('User')">User</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('WorkshopHistory')">WorkshopHistory</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link active" (click)="setTab('Actions')">Actions</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('Chats')">Chats</a>
                        </li>
                    </ul>
                </div>

                <div class="" *ngIf="getTab() == 'Chats'" style="width: fit-content;">
                    <ul class="nav nav-tabs mb-3 uls" role="tablist">
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('User')">User</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('WorkshopHistory')">WorkshopHistory</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link" (click)="setTab('Actions')">Actions</a>
                        </li>
                        <li class="nav-item admin_tabs" role="presentation">
                            <a class="nav-link active" (click)="setTab('Chats')">Chats</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 shadow context" style="background-color: #136207; max-width: 900px;"
                *ngIf="getTab()=='User'">

                <div class="col-12 shadow context" style="background-color: #136207; ">

                    <div class="card container-fluid shadow">

                        <app-participant [myUser]="current_user"></app-participant>

                    </div>

                </div>

            </div>

            <div class="col-12 shadow context" style="background-color: #136207; margin-bottom: 20px;"
                *ngIf="getTab()=='WorkshopHistory'">

                <table class="card"
                    style="display: flex; justify-content: center; flex-wrap: wrap; align-content: center;">
                    <tr>
                        <td>
                            <h6>Sort by:</h6>
                        </td>

                        <td>
                            <button *ngIf="toggle1 == true" class="btn btn-success btn-xs"
                                style="margin: 0px; background-color: rgb(19,98,7);" (click)="sortName()">Name
                                ↑</button>
                            <button *ngIf="toggle1 == false" class="btn btn-success btn-xs"
                                style="margin: 0px; background-color: rgb(19,98,7);" (click)="sortName()">Name
                                ↓</button>
                            <button *ngIf="toggle2 == true" class="btn btn-success btn-xs"
                                style="margin: 0px; background-color: rgb(19,98,7);" (click)="sortDate()">Date
                                ↑</button>
                            <button *ngIf="toggle2 == false" class="btn btn-success btn-xs"
                                style="margin: 0px; background-color: rgb(19,98,7);" (click)="sortDate()">Date
                                ↓</button>
                            <button *ngIf="toggle3 == true" class="btn btn-success btn-xs"
                                style="margin: 0px; background-color: rgb(19,98,7);" (click)="sortLocation()">Location
                                ↑</button>
                            <button *ngIf="toggle3 == false" class="btn btn-success btn-xs"
                                style="margin: 0px; background-color: rgb(19,98,7);" (click)="sortLocation()">Location
                                ↓</button>
                        </td>

                    </tr>
                </table>

                <div class="card container-fluid shadow" *ngFor="let workshop of myWorkshops; let i = index">

                    <app-workshop-details [myWorkshopDetail]="workshop" [myIndex]="i"></app-workshop-details>

                </div>

            </div>

            <div class="col-12 shadow context" style="background-color: #136207; margin-bottom: 20px;"
                *ngIf="getTab()=='Actions'">

                <div class="row container-fluid">

                    <div class="col-6 card container-fluid shadow" style="margin-left: 10px; width: 49%;">
                        <h1>Likes:</h1>

                        <div *ngFor="let workshop of myWorkshops;  let i = index">

                            <div *ngFor="let like of workshop.likes;">

                                <div *ngIf="like == current_user.username">{{workshop.name}} -> <button style="width: 100px;" class="btn btn-danger btn-sm" (click)="unlike(workshop)">Unlike ❤</button></div>
                                <hr *ngIf="like == current_user.username">
                            </div>
        
                        </div>

                    </div>

                    <div class="col-6 card container-fluid shadow" style="width: 49%; margin-right: -10px;">
                        <h1>Comments</h1>
                        <div *ngFor="let workshop of myWorkshops;  let i = index">
                            <h5>{{workshop.name}}:</h5>
                            <div *ngFor="let comment of workshop.comments;">
                                <div *ngIf="comment.username == current_user.username"> {{comment.message}}</div>
                                <button *ngIf="comment.username == current_user.username" style="width: 100px;" class="btn btn-danger btn-sm" (click)="uncomment(workshop,comment)">delete</button>
                                
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>